<div 
  id="desktop" 
  class="component__desktop" 

  v-on:click.self = "createRectangle($event)" 
  v-on:mousemove.self = "drawRectangle($event)"
>
<desktop-header v-on:clear-all = "clearAll"></desktop-header>
<transition-group name = "fade">
  <rectangle-item v-dragged.capture = "onDragged"
    v-for = "rectangle in rectangleList"
    v-bind:data = "rectangle"
    v-bind:key = "rectangle.id"
    v-on:activate = "activateRectangle"
    v-on:close = "deleteRectangles"
    v-on:init-draw = "initDraw"
  >
  </rectangle-item>
</transition-group>
</div>